.row {
    margin: 0;
  }


  /*dashboard*/

.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .dashboard-events-container th{
    width: 25%;
  }
  
  .dashboard-events-container form {
  display: inline-block;
  }


  /* footer */
  footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin-bottom: 0;
  }